VITE_FIREBASE_PROJECT_ID=my-teaching-tools-ckt520728
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=my-teaching-tools-ckt520728.firebaseapp.com
VITE_FIREBASE_STORAGE_BUCKET=my-teaching-tools-ckt520728.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=964306510514
VITE_FIREBASE_APP_ID=
